<!DOCTYPE html>
<html lang="en">
<head>
    <title>LetterRoll Cheater!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
</head>
<body>

<div id="content">

    <h1>Cheater!</h1>

    <p>
    Enter the letters you've rolled here:
    </p>

    <div id="searchform">
      <form class="form-inline" name="input" action="/" method="POST">
        <input type="text" name="q" placeholder="{{ letters }}" />
        <button type="submit" class="btn btn-inverse" id="button">Go!</button>
      </form>
    </div>

    <div id="body">
    {% block body %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js')}}"></script>
    <script>
        $(document).ready(function(){
            $('#button').button();

            $('#button').click(function() {
              $(this).button('loading');
            });
        });
    </script>
</div>

</body>
</html>
